canvas {
    position: absolute;
}
.userInterface {
    border: 2px solid blue;
    position: absolute;
    left: 580px;
    height: 460px;
    width: 550px;
}
#correctGuessDisplay {
    font-size: 30px;
}
.visible {
    display: block;
}
.hide {
    display: none;
}
.crossedLettersDiv {
    position: relative;
}
#incorrectGuessDisplay {
    position: absolute;
    font-size: 30px;
    margin: 0;
}
#crossingDisplay {
    font-size: 30px;
    color: red;
    margin: 0;
}
