#container {
    width: 500px;
}
#container-head {
    position: relative;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 100%;
    margin: auto;
}
#container-trunk {

}
.trunk {
    height: 200px;
    width: 0px;
    border: 1px solid black;
    margin: auto;
}
#arms {
    position: absolute;
}
.arm {
    height: 150px;
    width: 0px;
    border: 1px solid black;
    margin: auto;
}
#left-arm {
    transform-origin: bottom right;
    transform: rotate(125deg);
}
#right-arm {
    transform-origin: top left;
    transform: rotate(-250deg);
}
#container-legs {

}
.leg {
    height: 150px;
    width: 0px;
    border: 1px solid black;
    margin: auto;
}
#left-leg {
    transform-origin: top right;
    transform: rotate(45deg);
}
#right-leg {
    transform-origin: top left;
    transform: rotate(-90deg);
}
