#container {
    width: 500px;
}
#container-head {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 100%;
    margin: auto;
}
.trunk {
    height: 200px;
    width: 0px;
    border: 1px solid black;
    margin: auto;
}
#container-arms {
    position: relative;
}
.arm {
    position: absolute;
    left: 250px;
    bottom: -30px;
    height: 150px;
    width: 0px;
    border: 1px solid black;
    margin: auto;
}
#datum {
    height: 0;
    border: 2px solid red;
}
#left-arm {
    transform-origin: bottom right;
    transform: rotate(-75deg);

}
#right-arm {
    transform-origin: bottom left;
    transform: rotate(75deg);
}
.leg {
    height: 150px;
    width: 0px;
    border: 1px solid black;
    margin: auto;
}
#left-leg {
    transform-origin: top right;
    transform: rotate(45deg);
}
#right-leg {
    transform-origin: top left;
    transform: rotate(-90deg);
}
